<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>685400134695-hpc2m2lr8nh1nf1g4r16hs3pt5bnijaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685400134695-hpc2m2lr8nh1nf1g4r16hs3pt5bnijaa</string>
	<key>API_KEY</key>
	<string>AIzaSyBq2FVhl7G_yIV6pCHGPQ1dSL_kdO2Hcng</string>
	<key>GCM_SENDER_ID</key>
	<string>685400134695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quupe.testflight</string>
	<key>PROJECT_ID</key>
	<string>quupe-restore</string>
	<key>STORAGE_BUCKET</key>
	<string>quupe-restore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:685400134695:ios:9686087f66b5dde6</string>
	<key>DATABASE_URL</key>
	<string>https://quupe-restore.firebaseio.com</string>
</dict>
</plist>